:root {
  /* color-contrast-light */
  --color-canvas-default: #ffffff;
  --color-canvas-subtle: #f6f8fa;
  --color-border-default: #d0d7de;
  --color-border-muted: hsla(210, 18%, 87%, 1);

  --color-fg-default: #24292f;
  --color-fg-muted: #57606a;
  --color-fg-subtle: #6e7781;
  --color-accent-fg: #0969da;
  --color-accent-emphasis: #0969da;

  --color-neutral-muted: rgba(175, 184, 193, 0.2);
  --color-neutral-subtle: rgba(234, 238, 242, 0.5);

  --color-btn-text: #24292f;
  --color-btn-bg: #f6f8fa;
  --color-btn-border: rgba(27, 31, 36, 0.15);
  --color-btn-hover-bg: #f3f4f6;
  --color-btn-hover-border: rgba(27, 31, 36, 0.15);
  --color-btn-active-bg: ebecf0;
  
  --color-btn-primary-text: #ffffff;
  --color-btn-primary-bg: #2da44e;
  --color-btn-primary-border: rgba(27, 31, 36, 0.15);
  --color-btn-primary-hover-bg: #2c974b;

  --shadow-small: 0 1px 0 rgba(27, 31, 36, 0.04);
  --shadow-medium: 0 3px 6px rgba(140, 149, 159, 0.15);
  --shadow-large: 0 8px 24px rgba(140, 149, 159, 0.2);
  
  --font-stack-system: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  --font-stack-mono: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas, "Liberation Mono", monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* color-contrast-dark */
    --color-canvas-default: #0d1117;
    --color-canvas-subtle: #161b22;
    --color-border-default: #30363d;
    --color-border-muted: #21262d;

    --color-fg-default: #c9d1d9;
    --color-fg-muted: #8b949e;
    --color-fg-subtle: #6e7781;
    --color-accent-fg: #58a6ff;
    --color-accent-emphasis: #1f6feb;

    --color-neutral-muted: rgba(110, 118, 129, 0.4);
    --color-neutral-subtle: rgba(110, 118, 129, 0.1);

    --color-btn-text: #c9d1d9;
    --color-btn-bg: #21262d;
    --color-btn-border: rgba(240, 246, 252, 0.1);
    --color-btn-hover-bg: #30363d;
    --color-btn-hover-border: #8b949e;
    --color-btn-active-bg: #282e33;

    --color-btn-primary-text: #ffffff;
    --color-btn-primary-bg: #238636;
    --color-btn-primary-border: rgba(240, 246, 252, 0.1);
    --color-btn-primary-hover-bg: #2ea043;

    --shadow-small: 0 0 transparent;
    --shadow-medium: 0 3px 6px #010409;
    --shadow-large: 0 8px 24px #010409;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  height: 100%;
}

body {
  color: var(--color-fg-default);
  background: var(--color-canvas-default);
  font-family: var(--font-stack-system);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: var(--color-accent-fg);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

code {
    font-family: var(--font-stack-mono);
}
